<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <title>Choose a Race</title>
  </head>
  <body>
    <h1 class="title">Choose a Race</h1>
    <form action="/characters" method="POST">
      <select name="race" id="raceSelector">
        <% races.forEach(r => { %>
        <option value="<% r.name %>"><%= r.name %></option>
        <% }) %>
      </select>
      <button type="submit">Next</button>
    </form>
    <div>
      <div id="pickRace">
        <% races.forEach(r => { %>
        <div id="<%= r.name %>">
          <div class="name"><%= r.name %></div>
          <div class="speed"><%= r.speed %>ft</div>
          <div class="abscore">
            Ability Bonuses: <% r.ability_bonuses.forEach(a=>{ %>
            <ul>
              <li>
                <%= a.name %> + <%= a.bonus %>
              </li>
            </ul>
            <% }) %>
          </div>
          <div class="size"><%= r.size %></div>
          <div class="languages">
            Languages: <% r.languages.forEach(l=> { %>
            <ul>
              <li>
                <%= l.name %>
              </li>
            </ul>
            <% }) %>
          </div>
          <div class="startProf">
            <% if (r.starting_proficiencies) { %> Starting proficiencies: <%
            r.starting_proficiencies.forEach(p => { %>
            <ul>
              <li>
                <%= p.name %>
              </li>
            </ul>
            <% }) } %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
