<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <title>Start Your Character</title>
  </head>
  <body>
    <h1 class="title">Choose a Class</h1>
    <div>
      <div id="pickClass">
        <% classes.forEach(c => { %>
        <div id="<%= c.name %>">
          <div class="name"><%= c.name %></div>
          <div class="hitDie">Hit Die: <%= c.hit_die %></div>
          <div class="savingThrows">
            Saving Throws: <% c.saving_throws.forEach(a=>{ %>
            <ul>
              <li>
                <%= a.name %>
              </li>
            </ul>
            <% }) %>
          </div>
          <div class="startProf">
            Proficiencies: <% c.proficiencies.forEach(p => { %>
            <ul>
              <li>
                <%= p.name %>
              </li>
            </ul>
            <% }) %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
