<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>

    <h1>Character Show Page</h1> <a href="/characters">Return to all Characters</a>
    <div id='charDeets'>
    <div><h2>Name: <h2> <h3><%= character.name %></h3></div>
      <div><h2>Height: <h2> <h3><%= character.height %></h3></div>
        <div><h2>Weight: <h2> <h3><%= character.weight %></h3></div>
          <div><h2>Eye Color: <h2> <h3><%= character.eyeColor %></h3></div>
            <div><h2>Hair Color: <h2> <h3><%= character.hairColor %></h3></div>
              <div><h2>Age: <h2> <h3><%= character.age %></h3></div>
                <div><h2>Class:</h2>
                  <h3><%= character.class %></h3></div>
                  <div><h2>Race: <h2> <h3><%= character.race %></h3></div>
                    <div>
                        <h2>Saving Throws: </h2>
                        <h3><% character.savingThrows.forEach(s => { %>
                          <li>
                            <%= Object.keys(s)%>: <%= Object.values(s) %>
                          </li>
                          <% }) %>
                        </h3>
                      </div>
                      <div id='abilityScores'><div><h2>Ability Scores: </h2></div>
                      <% for (const key in character.abilityScores) { %>
                        <h3>
                          <%= key %>: <%= character.abilityScores[key] %> 
                        </h3>
                      <% } %>
                      </div>
                    
                      <div>
                      <h2> Skills: <h2>
                        <h3><% character.skills.forEach(l => { %>
                          <li>
                            <%= l %>
                          </li>
                          <% }) %>
                        </h3>
                      </div>
                      <div>
                        <h2> Proficiencies and Traits: <h2>
                          <h3><% character.proficiencies.forEach(l => { %>
                            <li>
                              <%= l %>
                            </li>
                            <% }) %>
                          </h3>
                        </div>
                        <div>
                            <h2> Languages: <h2>
                              <h3><% character.languages.forEach(l => { %>
                                <li>
                                  <%= l %>
                                </li>
                                <% }) %>
                              </h3>
                            </div>
                        </div>
                        <form action="/characters/<%= id %>?_method=delete" method="POST">
                          <button type='submit'> Delete Character</button>
                         </form>
                        </body>
                        </html>
                        